/* 
    Created on : 16 may. 2024, 16:37:07
    Author     : Sergio Esteban Vazquez Rizo
*/

.botones {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 900px; /* Ajuste en el ancho máximo */
    width: 100%;
}

.contenido_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta según el tamaño que necesites */
    padding: 20px;
    text-align: center;
    margin-left: 260px; /* Ancho del sidebar */
}

@media screen and (max-width: 768px) {
    .contenido_principal {
        margin-left: 0;
    }
}

/* Estilo para los títulos */
.contenido_principal h1,
.contenido_principal h2 {
    color: #333; /* Color de texto */
    margin-bottom: 30px; /* Espacio inferior */
    font-size: 40px;
}

/* Estilo para las tablas */
.contenido_principal table {
    background-color: #CDE8E5; /* Color de fondo */
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; /* Espacio inferior */
}

.contenido_principal th,
.contenido_principal td {
    padding: 8px;
    border: 1px solid #ddd; /* Borde de la tabla */
}

.contenido_principal th {
    background-color: #4D869C; /* Color de fondo para las celdas de encabezado */
    color: #fff;
}

/* Ajustes para botones más pequeños */
button.learn-more {
    font-size: 14px; /* Tamaño de fuente reducido */
    padding: 0.75em 1.5em; /* Ajuste en padding */
    color: #4D869C; /* Cambiado */
    text-transform: uppercase;
    background: #EEF7FF; /* Cambiado */
    border: 2px solid #7AB2B2; /* Cambiado */
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CDE8E5; /* Cambiado */
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 1px #7AB2B2, 0 0.5em 0 0 #EEF7FF; /* Ajuste en box-shadow */
    box-shadow: 0 0 0 1px #7AB2B2, 0 0.5em 0 0 #EEF7FF; /* Ajuste en box-shadow */
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
    background: #CDE8E5; /* Cambiado */
    -webkit-transform: translate(0, 0.2em); /* Ajuste en la transformación */
    transform: translate(0, 0.2em);
}

button.learn-more:hover::before {
    -webkit-box-shadow: 0 0 0 1px #7AB2B2, 0 0.5em 0 0 #EEF7FF; /* Ajuste en box-shadow */
    box-shadow: 0 0 0 1px #7AB2B2, 0 0.5em 0 0 #EEF7FF; /* Ajuste en box-shadow */
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
    background: #CDE8E5; /* Cambiado */
    -webkit-transform: translate(0em, 0.5em); /* Ajuste en la transformación */
    transform: translate(0em, 0.5em);
}

button.learn-more:active::before {
    -webkit-box-shadow: 0 0 0 1px #7AB2B2, 0 0 #EEF7FF; /* Ajuste en box-shadow */
    box-shadow: 0 0 0 1px #7AB2B2, 0 0 #EEF7FF; /* Ajuste en box-shadow */
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

button, .btn-info {
    font-size: 14px; /* Tamaño de fuente reducido */
    padding: 8px 16px; /* Ajuste en padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-info {
    color: #fff;
    background-color: #7AB2B2;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

/* Ajustes para el contenedor de botones */
.contenido_principal button {
    margin-bottom: 20px; /* Espacio inferior reducido */
}

/* Estilo para los inputs */
.group {
    position: relative;
    margin-bottom: 45px;
}

.group input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.group input:focus {
    outline: none;
}

.group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

/* active */
.group input:focus~label,
.group input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.group .bar {
    position: relative;
    display: block;
    width: 300px;
}

.group .bar:before,
.group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
}

.group .bar:before {
    left: 50%;
}

.group .bar:after {
    right: 50%;
}

/* active */
.group input:focus~.bar:before,
.group input:focus~.bar:after {
    width: 50%;
}

.search-container {
    margin-top: 50px;
    text-align: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #074173;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #074173;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
